.App {
  padding: 0;
}

.Header {
  border-bottom: 1px solid #c1baa1;
}

.Sidebar {
  width: 150px;
  margin: 5px;
  position: sticky;
  top: 62px;
  align-self: flex-start;
  align-items: start;
}

.Sidebar .nav-item {
  width: 100%;
  margin: 2px;
}

.Sidebar a {
  color: #444;
  padding-left: 5px;
  border-radius: 5px;
}

.Sidebar a:hover {
  background-color: #d7d3bf;
}

.Sidebar a:visited {
  color: #444;
}

.Sidebar .nav-item .active {
  background-color: #d7d3bf;
}

.Content {
  margin-top: 10px;
}

.Post {
  align-items: start;
  padding-top: 10px;
  border-bottom: 1px solid #eee;
}

.Post:hover {
  background-color: #f8f8f8;
}

.Post a {
  color: #a59d84;
  text-decoration: none;
}

.Post a:visited {
  color: #d7d3bf;
}

.more {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}
